<div class="main">
    <div class="container-up">
        <div class="headerparent">
            <app-search></app-search>


        </div>
        <div class="center">
            <ng-container *ngIf="isSkeet;else otro">

                <app-skeletoncard [loading]="true"></app-skeletoncard>
                <app-skeletoncard [loading]="true"></app-skeletoncard>
                <app-skeletoncard [loading]="true"></app-skeletoncard>
                <app-skeletoncard [loading]="true"></app-skeletoncard>
                <app-skeletoncard [loading]="true"></app-skeletoncard>
                <app-skeletoncard [loading]="true"></app-skeletoncard>
                <app-skeletoncard [loading]="true"></app-skeletoncard>
                <app-skeletoncard [loading]="true"></app-skeletoncard>
            </ng-container>
            <ng-template #otro>
                <ng-container *ngIf="info.length !== 0;else vacio">
                    <app-skeletoncard *ngFor="let item of info" [source]="item.source" [tipo]="item.tipo" [urlimg]="item.img" [titulo]="item.titulo" [descripcion]="item.descripcion" [loading]="false"></app-skeletoncard>
                </ng-container>
                <ng-template #vacio>
                    <h1>VACIO</h1>
                </ng-template>
            </ng-template>


        </div>

    </div>
    <div class="container-down">

        <p>Make with love by ByronLopez</p>
    </div>
</div>
<lib-toastify-toast-container></lib-toastify-toast-container>